.logo-list-container2{
    padding: 0 100px;
    background-color:#fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
}