$imWidth: 40vw;

.cell-column-1 {
  width: $imWidth;
}
.row-1 {
  color: white;
  font-family: "DIN-Regular", Helvetica, Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 5px;
  width: $imWidth;
}

.row-2 {
  color: white;
  font-family: "DIN-Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 26px;
  margin-bottom: 20px;
  width: $imWidth;
}

.row-3 {
  width: $imWidth;
}

.image-row {
  vertical-align: bottom;
  width: $imWidth;
}
