@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    padding: 10% 60% 10% 100px;;
}

.home-scroller{
    display: flex;
    justify-content: space-between;
    

}

.home-intro{
    font-size: 6vw;
    font-weight: bold;
    color: white; 
    text-align: left;
    font-family: 'Bebas Neue';
    line-height: 5vw;
    letter-spacing: 0.5vw;
    

}



