@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');



.card4-container{
    padding: 100px 0;
    background-color: rgb(250, 250, 250);
}

.card4-fixed-container{
    margin: 0 100px;
}

.card4-fixed-container-row-1{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 75px;
    font-size: 80px;
    line-height: 56px;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.card4-fixed-container-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card4-row2-col-1-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}








