.card2-row2-col-1-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
}

.col-row-img{
    padding-right: 7px;
}

.col-row-text{
    font-family: 'Open Sans', sans-serif;
    margin-left: 11.725px;
}

.col-row-text-title{
    font-family: 'Bebas Neue', cursive;
    font-size: 22px;
    letter-spacing: normal;
    line-height: 42px;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.col-row-text-paragrah{
    font-size: 16px;
    line-height: 21px;
    overflow-wrap: break-word;
}