.card9-container {
  padding: 100px 0;
  background-color: white;
}

.card9-fixed-container {
  margin: 0 100px;
}

.card9-fixed-container-cell {
  margin-left: 444.5px;
}

.card9-cell-title-row {
  font-weight: bold;
  padding-bottom: 55px;
  font-size: 44px;
  letter-spacing: normal;
  max-width: 533px;
  text-transform: uppercase;
}

.image-text {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
  max-width: 533px;
}

.card9-cell-image {
  float: left;
  width: fit-content;
}

.card9-cell-text {
  width: fit-content;
  margin-left: 32.5625px;
}

.card9-cell-row-text {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: normal;
  line-height: 21px;
  overflow-wrap: break-word;
  text-transform: uppercase;
}

.card9-cell-text-paragraph {
  width: fit-content;
}
