.cell-column-2 {
  width: auto;
  margin-left: 100px;
}

#large-text {
  color: white;
  font-family: "DIN-Regular", Helvetica, Arial, sans-serif;
  font-size: 22px;
  letter-spacing: 0.2px;
  line-height: 28px;
  margin-bottom: 20px;
}

.paragraph {
  color: white;
  font-family: "DIN-Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 21px;
  margin-bottom: 20px;
}

ul {
  margin: 0px;
}

li {
  color: white;
  font-family: "DIN-Regular", Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}
