.container {
  padding-top: 10%;
  padding-right: 60%;
  padding-bottom: 10%;
  padding-left: 100px;
}
.download {
  display: flex;
  justify-content: space-between;
}

.download-text {
  font-size: 5vw;
  font-weight: bold;
  color: white;
  text-align: left;
  font-family: "Bebas Neue";
  line-height: 5vw;
  letter-spacing: 0.5vw;
}
