.menu-overflow {
  color: white;
  position: fixed;
  top: 60px;
  background-color: rgba(43, 39, 39, 0.95);
  color: white;
  font-size: small;
  opacity: 1;
  animation: slider 1s ease;
  padding: 0px 30px 30px 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #353131;
  opacity: 1;
  transition: 1s ease;
  box-shadow: 0px 1px 3px -2px rgb(0, 0, 0);
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 100;

  .logo-container {
    margin-left: 20px;
    z-index: inherit;
  }

  .logo-image {
    width: 60px;
  }

  .side-items {
    margin-right: 20px;
  }

  .menu-items,
  .side-items {
    display: flex;
    color: rgb(255, 255, 255);
    font-weight: bold;
    align-items: center;

    .ind-items,
    .rs-items {
      transition: color 0.5s ease;
      font-size: small;
      margin-right: 10px;
      padding: 10px;
    }

    .demoButton {
      border: solid white 1px;
      font-size: small;
      padding-left: 10px;
      padding-right: 10px;
      display: flex;
      align-items: center;
      margin: 10px;
    }
  }
}

.button:hover {
  transition: background-color 0.5s ease;
  background-color: brown;
}

.ind-items:hover,
.rs-items:hover {
  color: brown;
  cursor: pointer;
}

.menu-container:hover {
  background: rgba(43, 39, 39, 0.95);
}

@keyframes slider {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .menu-container {
    flex-direction: column;
    width: 100vh;
  }
  .logo-container,
  .menu-items,
  .side-items {
    width: 100vh;
    display: flex;
    justify-content: flex-start;
  }

  .demoButton {
    font-size: 2vw;
  }
  .ind-items {
    display: flex;
    align-items: center;
  }
}
