.imagecontainer {
  position: relative;
  display: flex;
  padding: 10px;
  overflow: hidden;
  opacity: 0.8;
  z-index: -2;
}

.image {
  width: 30vw;
  border-radius: 10px;
  padding: 10px;
  padding-left: 10vw;
}

.slide.left {
  opacity: 0;
  // transform: translate(500px);
  transition-duration: 2s;
}
.slide.right {
  opacity: 0;
  // transform: translate(-500px);
  transition-duration: 2s;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

.carouselHeading {
  color: white;
  padding-left: 10vw;
  text-align: center;
  font-size: 1vw;
  letter-spacing: 0.2vw;
}

.learnmorebutton {
  color: white;
  text-align: center;
  padding-left: 10vw;
  z-index: 1;
}

.learnmorelink,
.learnmorelink:visited {
  color: white;
  text-decoration: none;
}

.learnmorelink:active,
.learnmorelink:hover {
  color: brown;
  text-decoration: none;
}
