.imagecontainer {
  position: relative;
  display: flex;
  padding: 10px;
  overflow: hidden;
  opacity: 0.8;
  z-index: -2;
  height: 38vw;
}

.image {
  border-radius: 10px;
  width: 40vw;
  padding: 10px;
  padding-left: 10vw;
}

.slide.left {
  opacity: 0;
  // transform: translate(500px);
  transition-duration: 2s;
}
.slide.right {
  opacity: 0;
  // transform: translate(-500px);
  transition-duration: 2s;
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
}

.carouselHeading {
  color: white;
  padding-left: 10vw;
  text-align: center;
  font-size: 1vw;
  letter-spacing: 0.2vw;
}

.learnmorebutton {
  color: white;
  text-align: center;
  padding-left: 10vw;
  z-index: 1;
}

.learnmorelink,
.learnmorelink:visited {
  color: white;
  text-decoration: none;
}

.learnmorelink:active,
.learnmorelink:hover {
  color: brown;
  text-decoration: none;
}

@media (max-width: 700px) {
  .imagecontainer {
    width: 80vw;
    margin-top: 10px;
    justify-content: center;
    padding-left: 0px;

    .image {
      width: 60vw;
    }
  }

  .learnmorebutton {
    width: 80vw;
    padding-left: 0px;
  }
}
