@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

.card-container{
    padding: 100px 0;
    background-color: white;
}

.card-fixed-container{
    margin: 0 100px;
}



.application-top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.copy{
    margin-left: 55px;
}

.copy-title{
    font-family: 'Mate SC', serif;
    font-size: 44px;
    line-height: 38px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.copy-text p{
    margin-right: 40px;
    line-height: 28px;
    font-size: 22px;
    cursor: default;
    color:black;
}

.application-bottom-section{
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 80px;
    row-gap: 0px;
}

.bottom-item-icon{
    display: block;
    cursor: pointer;
}

.bottom-item-copy{
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 21px;
}

.div-btn-title{
    font-size: 22px;
    font-family: 'Mate SC', serif;
    letter-spacing: 0;
    line-height: 42px;
    text-transform: uppercase;
    cursor: pointer;
    color: green;
    display: block;
}

.div-btn-title :hover{
    color: green;
}

.div-btn-paragraph{
    font-size: 16px;
    line-height: 21px;
    cursor: pointer;
}



.link-with-green-arrow a{
    color: #16a500;
    font-family: 'Mate SC', serif;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
    position: relative;
}

.link-with-green-arrow ::after{
    content: '';
    background: url(https://www.machinemetrics.com/hubfs/m2-assets/green-arrow-right-link.svg) no-repeat;
    width: 21px;
    height: 21px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    -webkit-transition: .25s;
    transition: .25s;
}